.container {
  max-width: 80%;
  margin: 0 auto;

}

#icons {
  display: flex;
  flex-wrap: wrap;

}

.icon {
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 1px solid black;
  color: teal;
  box-shadow: 2px 1px 3px gray;
}

.icon span{
  font-size:30px;
}